/MGFarm_18650_Dataframes
/MGFarm_18650_Dataframes_ZHU
/00_Alterungstest
01_Datenaufbereitung/Output/
02_Nbeats/darts_logs/
02_Nbeats/Results
02_Nbeats/NBEATS_SOC_SOH-master
02_Nbeats/checkpoints
02_Nbeats/best
02_Nbeats/lightning_logs
03_TFT/Results
04_NNs/Results
04_Tryout/Results
05_Final/hpc